body {
    background: #b2fcff
}

.warna-biru{
    color: #3e64ff
}
.warna-merah{
    color: red
}

.underline{
    text-decoration: underline
}

#biru-muda{
    color: #5edfff
}
#merah-getih{
    color: maroon
}