
    body {
        background:#b2fcff
         }
    .warna-biru {
         color: #3e64ff
         }
    .underline {
        text-decoration : underline
    }
    #biru-muda {
        color: #5edfff
    }
    .warna-merah{
        color: #FF0000
    }